/* ---- modal window styles ----- */
.character-modal__body {
    display: flex;
    position: fixed;
    top: 50%; left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 700px;
    border-radius: 8px;
    background-color: #fff;
    align-items: center;
}

@media all and (max-width: 900px) {
    .character-modal__body {
        flex-direction: column;
        width: 300px;
    }
}

@media all and (max-width: 375px) {
    .character-modal__body {
        width: 250px;
    }
}
/* ------------------------------ */